body{
    padding: 80px;
}
.submit_area{
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}
#transaction_area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}